@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  background-color: #ffffff;
  color: #333333;
}

main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-grow: 1;
}

.container {
  width: 1200px;
  padding: 0 40px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

/* Header*/

.page-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 70px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  background-color: #ffffff;
  color: #333333;
}

.navigation-logo {

}
.navigation {
  display: flex;
  margin: 0;
  padding: 0;
}

.navigation-menu {
  width: 339px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu-user {
  width: 268px;
  margin: 0;
  padding: 0;
}

.navigation-link {
  color: #333333;
  background-color: #ffffff;
  text-decoration:none;
  text-align: center;
}

/*page-index*/

/* hero */

.hero-welcome {
  margin-bottom: 69px;
  background-image: url(../images/hero-decoration.svg), url(../images/index-background.jpg);
  background-size: 1200px 57px, 1200px 485px;
  background-repeat: no-repeat, no-repeat;
  background-position: bottom, center;
  background-color: #82b3d3;
  color: #333333;
}

.welcome-img {
  display: block;
  margin: 0 auto;
  padding-top: 51px;
  padding-bottom: 82px;
}

.description-sedona {
  margin: 0 0 25px;
  padding: 0 290px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  background-color: #ffffff;
  color: #333333;
  text-transform: uppercase;
}

.reasons {
  margin: 0 auto 90px;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  background-color: #ffffff;
  color: #333333;
}

 /* advantages */

.advantages-list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.advantages-item {
  width: 400px;
  min-height: 385px;
  color: #333333;
  background-color: rgba(131, 179, 211, 0.12);
  text-align: center;
}

.advantages-item-big {
  width: 1200px;
}

.advantages-item-bg-city,
.advantages-item-bg-bridge {
  background-color: #82b3d3;
}

.advantages-item-bg-road {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-transform: uppercase;
}

.advantages-item-title-city,
.advantages-item-title-bridge {
  color: #ffffff;
}

.advantages-item-description-city,
.advantages-item-description-bridge {
  color: #ffffff;
}

.advantages-item-photo {
  display: block;
}

.advantages-service-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
}

.advantages-service-description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.advantages-service-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.advantages-service-item {
  width: 400px;
  height: 385px;
  background-color: rgba(131, 179, 211, 0.12);
  text-align: center;
}

.advantages-service-item-bg-food {
  background-color: #ffffff;
}

.advantages-service-item-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-transform: uppercase;
}

.advantages-service-item-description {
  font-size: 18px;
  line-height: 21px;
}

/*search-hotels*/

.search-hotels {
  padding: 96px 304px;
}

.search-hotels-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
}

.search-hotels-description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

/*footer*/

.subscription {
  padding: 96px 258px 104px;
  background-image: url(../images/subscribe-background-image.jpg);
  background-position: center;
  background-size: 1200px auto;
  background-repeat: no-repeat;
  background-color: #82b3d3;
  color: #333333;
}

.subscription-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
}

.subscription-description{
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
}

.footer-social {
  width: 142px;
}

.footer-social-list {
  padding: 0;
  list-style: none;
}

.social-contacts-developer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 70px 30px;
  gap: 40px;
}

.footer-contacts {
  width: 720px;
}

.contacts-phone {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

.footer-developer {
  width: 115px;
}

/*page-catalog*/

/*filter*/
.catalog-filter {
  padding: 35px 70px 70px;
  color: #ffffff;
  background-image: url(../images/filter-background-image.jpg);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-color: #82b3d3;
}

.catalog-page-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs {
  display: flex;
  padding: 0;
  list-style: none;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
}

.catalog-search-results {
  padding: 50px 70px 60px;
}

.catalog-filter-container {
  display: flex;
}

.catalog-filter-button-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.catalog-filter-list {
  list-style: none;
}

.catalog-filter-item {
  font-size: 18px;
  line-height: 23px;
}

/*search-results*/
.sort-results-container {
  display: flex;
  flex-wrap: wrap;
}

.search-results-text {
  margin-right: 192px;
}

.search-results-text,
.search-results-number {
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.select-control {
  align-content: center;
  width: 292px;
  margin-right: 70px;
  font-size: 18px;
  line-height: 21px;
}

.house-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.house-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.button-more {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
}

.button-add-favorites {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #82B3D3;
  text-transform: uppercase;
}

.house-card-rating {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #F2F2F2;
}

.button-in-favorites {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #7DB54F;
  text-transform: uppercase;
}

/*pagination*/

.pagination {
  display: flex;
  gap: 8px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination-item {
  width: 60px;
  height: 60px;
  background-color: #82B3D3;
}

.pagination-item-current {
  background-color: #F2F2F2;
}

.pagination-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
}

.pagination-link-disabled {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-decoration: none;
  color: #000000;
}

.pagination-item-more-pages {
  background-color: #ffffff;
}

.pagination-link-more-pages {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

/* flex big blocks*/
