@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  background-color: #ffffff;
  color: #333333;
}

main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-grow: 1;
}

.container {
  width: 1200px;
  padding: 0 40px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Header*/

.page-header {
  display: flex;
  margin: 0;
  padding: 0 70px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  background-color: #ffffff;
  color: #333333;
}

.page-header-logo {
  position: absolute;
  display: block;

}

.navigation-logo {
  margin-right: 168px;
}

.navigation {
  display: flex;
  /*justify-content: space-between;*/
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.navigation-menu {
  width: 492px;
  display: flex;
  align-items: center;
  margin: 0;
  margin-right: auto;
  padding: 0;
  list-style: none;
}

.navigation-menu-item {
  position: relative;
  padding: 20px 6px;
}

.menu-user {
  width: 400px;
  justify-content: end;
  margin: 0;
  margin-left: auto;
  padding: 0;
}

.navigation-item {
  padding: 0;
}

.navigation-item:last-child {
  margin-left: 20px;
}

.navigation-link,
.navigation-link-current {
  padding: 10px 10px;
  color: #333333;
  background-color: #ffffff;
  text-decoration:none;
  text-align: center;
}

.navigation-link:hover {
  color: #756157;
}

.navigation-link:active {
  color: #756157;
  opacity: 30%;
}

.navigation-link-current::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 16px;
  right: 16px;
  border-bottom: 2px solid #756157;
}

.navigation-link-search {
  padding: 10px 8px;
  fill: #000000;
}

.navigation-link-search:hover svg {
  fill: #82B3D3;
}

.navigation-link-search:active svg {
  fill: #82b2d383;
}

.navigation-link-favorites {
  position: relative;
  padding: 10px 8px;
  text-decoration: none;
}

.navigation-link-favorites svg {
  fill: #000000;
}

.navigation-link-favorites:hover svg {
  fill: #82B3D3;
}

.navigation-link-favorites:active svg {
  fill: #82b2d383;
}

.favorites-number {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 5px 5px 4px;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
  background-color: #7DB54F;
  border-radius: 50%;
}

.navigation-link-favorites:hover .favorites-number {
  background-color: #82B3D3;
}

.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 4px;
  border: none;
}

.button-here {
  padding: 8px 34px;
  background-color: #756157;
  text-decoration: none;
}

.button-here:hover {
  background-color: #615048;
}

.button-here:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #756157;
}

/*page-index*/

/* hero */

.hero-welcome {
  margin-bottom: 69px;
  background-image: url(../images/hero-decoration.svg), url(../images/index-background.jpg);
  background-size: 1200px 57px, 1200px 485px;
  background-repeat: no-repeat, no-repeat;
  background-position: bottom, top;
  background-color: #c6c926;
  color: #333333;
}

.welcome-img {
  display: block;
  margin: 0 auto;
  padding-top: 51px;
  padding-bottom: 82px;
}

.description-sedona {
  width: 620px;
  margin: 0 0 25px;
  padding: 0 290px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  background-color: #ffffff;
  color: #333333;
  text-transform: uppercase;
  word-wrap: break-word;
}

.reasons {
  margin: 0 auto 90px;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  background-color: #ffffff;
  color: #333333;
}

 /* advantages */

.advantages-list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.advantages-item {
  min-height: 385px;
  color: #333333;
  background-color: rgba(131, 179, 211, 0.12);
  text-align: center;
}

.advantages-item-container {
  width: 230px;
  padding: 112.5px 85px;
}

.advantages-item-big {
  display: flex;
  background-color: #82b3d3;
}

.advantages-item-big-reverse {
  flex-direction: row-reverse;
}

.advantages-item-container-city,
.advantages-item-container-bridge {
  width: 230px;
  padding: 101.5px 85px;
}

.advantages-item-bg-road {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item-title {
  width: 175px;
  margin: 0 auto;
  margin-bottom: 62px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  word-wrap: break-word;
}

.advantages-item-title-city,
.advantages-item-title-bridge {
  color: #ffffff;
}

.advantages-item-description {
  margin: 0;
}

.advantages-item-description-city,
.advantages-item-description-bridge {
  margin: 0;
  color: #ffffff;
}

.advantages-item-photo {
  display: block;
}

.advantages-service {
  margin: 0;
  padding: 0;
  padding-top: 64px;
}
.advantages-service-title {
  width: 505px;
  margin: 0 auto;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
}

.advantages-service-description {
  margin: 0 auto 64px;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.advantages-service-list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.advantages-service-item {
  width: 400px;
  height: 385px;
  padding: 81px 85px;
  box-sizing: border-box;
  background-color: rgba(131, 179, 211, 0.12);
  text-align: center;
}

.advantages-service-item-bg-house {
  background-image: url(../images/icons/advantage-icon-house.svg);
  background-size: 75px 72px;
  background-repeat: no-repeat;
  background-position: top 81px center;

}

.advantages-service-item-food {
  background-color: #ffffff;
}

.advantages-service-item-bg-food {
  background-image: url(../images/icons/advantage-icon-food.svg);
  background-size: 75px 72px;
  background-repeat: no-repeat;
  background-position: top 81px center ;
}

.advantages-service-item-bg-souvenirs {
  background-image: url(../images/icons/advantage-icon-souvenirs.svg);
  background-size: 75px 72px;
  background-repeat: no-repeat;
  background-position: top 81px center;
}

.advantages-service-item-title {
  margin: 0;
  margin-top: 102px;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-transform: uppercase;
}

.advantages-service-item-description {
  width: 230px;
  margin: 0 auto;
  font-size: 18px;
  line-height: 21px;
}

/*search-hotels*/

.search-hotels {
  padding: 96px 304px;
  text-align: center;
}

.search-hotels-title {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
}

.search-hotels-description {
  margin: 0;
  margin-bottom: 54px;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.button-search {
  padding: 8px 50px;
  font-size: 20px;
  line-height: 36px;
  background-color: #756157;
}

.button-search:hover {
  background-color: #615048;
}

.button-search:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #756157;
}

/*footer*/

.subscription {
  padding: 96px 258px 104px;
  background-image: url(../images/subscribe-background-image.jpg);
  background-position: center;
  background-size: 1200px auto;
  background-repeat: no-repeat;
  background-color: #82b3d3;
  color: #333333;
}

.subscription-text-container {
  width: 475px;
  padding: 0 104.5px 54px;
  word-wrap: break-word;
}

.subscription-title {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
}

.subscription-description{
  margin: 0;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
}

.subscription-form {
  width: 684px;
  display: flex;
}

.subscription-form-email {
  width: 452px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  border: none;
  border-radius: 4px 0 0 4px;
}

.subscription-form-email:hover {
  border: 2px solid #68A2CA;
  border-radius: 4px;
}

.button-subscription {
  padding: 8px 50px;
  font-size: 20px;
  line-height: 36px;
  background-color: #82B3D3;
  border-radius: 0 4px 4px 0;
}

.button-subscription:hover {
  background-color: #68A2CA;
}

.button-subscription:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #82B3D3;
}

.footer-social {
  width: 142px;
}

.footer-social-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-social-item {
  padding: 0;
}

.button-social {
  padding: 8px 8px;
  fill: #82b3d3;
}

.button-social:hover svg {
  fill:#68A2CA;
}

.button-social:active {
  opacity: 30%;
}

.social-contacts-developer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 70px 30px;
  gap: 40px;
}

.footer-contacts {
  width: 720px;
  text-align: center;
}

.contacts-phone {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
}

.contacts-phone:hover {
  color: #756157;
}

.contacts-phone:active {
  color: #756157;
  opacity: 30%;
}

.footer-developer {
  width: 115px;
}

.footer-developer-link svg {
  fill: #000000;
}

.footer-developer-link svg:hover {
  fill: #756157;
}

.footer-developer-link svg:active {
  fill: #756157;
  opacity: 30%;
}

/*page-catalog*/

/*filter*/
.catalog-filter {
  padding: 35px 70px 70px;
  color: #ffffff;
  background-image: url(../images/filter-background-image.jpg);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-color: #82b3d3;
}

.catalog-page-title {
  margin: 0;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  list-style: none;
}

.breadcrumbs-item:not(:first-child) {
  margin-right: 10px;
}

.breadcrumbs-item:last-child {
  margin: 0;
}

.breadcrumbs-item:not(:first-child):before {
  position: absolute;
  width: 8px;
  height: 19.94px;
  content: "";
  background-image: url(../images/icons/icon-arrow-breadcrumbs.svg);
  background-repeat: no-repeat;
}

.breadcrumbs-link {
  padding-left: 18px;
  font-size: 16px;
  line-height: 21px;
}

.breadcrumbs-link:not(.breadcrumbs-link-current):hover {
  opacity: 60%;
}

.breadcrumbs-link:not(.breadcrumbs-link-current):active {
  opacity: 30%;
}

.breadcrumbs-home-link {
  display: block;
  width: 12px;
  height: 12px;
  padding: 3.5px 10px 5.5px 0.5px;
  background-image: url(../images/icons/icon-home.svg);
  background-repeat: no-repeat;
  background-position: left center;

}

.catalog-search-results {
  padding: 50px 70px 60px;
}

.catalog-filter-container {
  display: flex;
  flex-wrap: wrap;
}

.price-container {
  display: flex;
  gap: 2px;
  border: none;
}

.input-price-from,
.input-price-to  {
  width: 143px;
  height: 48px;
  border: none;
}

.input-price-from {
  border-radius: 4px 0 0 4px;
}
.input-price-to {
  border-radius: 0 4px 4px 0;
}

.input-price-to,
.input-price-from::placeholder {
  text-align: right;
}

.catalog-filter-button-container {
  display: flex;
  justify-content: end;
  flex-direction: column;
  gap: 32px;
}

.button-apply {
  padding: 8px 50px;
  font-size: 16px;
  line-height: 20px;
  background-color: #82B3D3;
}

.button-apply:hover {
  background-color: #68A2CA;
}

.button-apply:active{
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.button-reset {
  padding: 8px 50px;
  font-size: 16px;
  line-height: 20px;
  background-color: rgb(255, 255, 255, 0);
}

.button-reset:hover {
  color: rgba(255, 255, 255, 0.5);
}

.button-reset:focus {
  border: 3px solid #83B3D3;
  border-radius: 4px;
}

.button-reset:active {
  color: rgba(255, 255, 255, 0.3);
}

.catalog-filter-group {
  margin: 0;
  margin-right: 70px;
  padding: 0;
  border: none;
}

.catalog-filter-title {
  padding: 0;
  margin-bottom: 32px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.catalog-filter-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 16px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-filter-item {
  font-size: 18px;
  line-height: 23px;
}

.control {

}

.control-input {
  margin: 0;
  margin-right: 16px;
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 4px;
}

.control-input {
  background-color: #ffffff;

}

/*search-results*/
.sort-results-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.search-results-text {
  margin: 6.5px 200px 6.5px 0;
}

.search-results-text,
.search-results-number {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}

.select-control {
  width: 290px;
  margin-right: 70px;
  padding: 12px 18px;
  padding-right: 40px;
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  appearance: none;
  background-image: url(../images/icons/icon-arrow-filter.svg);
  background-repeat: no-repeat;
  background-position: right 20px center;
  outline: none;
}

.select-control:hover {
  border-color: #68A2CA;
}

.select-control:focus {
  border-color: #3F5E72;
}

.sorting-view-container {
  display: flex;
  gap: 8px;
}

.button-many-cards {
  width: 45px;
  height: 45px;
  background-image: url(../images/icons/icon-many-cards.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffffff;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.button-one-card {
  width: 45px;
  height: 45px;
  background-image: url(../images/icons/icon-slide-show.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffffff;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.button-many-cards:hover,
.button-one-card:hover,
.button-list-cards:hover {
  border-color: #000000;
}

.button-many-cards:active,
.button-one-card:active,
.button-list-cards:active {
  border-color: #000000;
}

.button-list-cards {
  width: 45px;
  height: 45px;
  background-image: url(../images/icons/icon-list.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffffff;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.house-list {
  display: grid;
  grid-template-columns: repeat(3,340px);
  gap: 20px;
  margin: 0;
  margin-bottom: 80px;
  padding: 0;
  list-style: none;
}
.house-card {
  padding: 20px;
}

.house-card-image {
  margin-bottom: 16px;
}

.house-card-title {
  margin: 0;
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.house-card-description {
  margin: 0;
}

.house-card-description-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.button-more {
  padding: 8px 26px;
  background-color: #756157;
  text-decoration: none;
}

.button-more:hover {
  background-color: #615048;
}

.button-more:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #756157;
}

.button-add-favorites {
  padding: 8px 20px;
  background-color: #82B3D3;
}

.button-add-favorites:hover {
  background-color: #68A2CA;
}

.button-add-favorites:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #82B3D3;
}

.button-in-favorites {
  padding: 8px 18px;
  background-color: #7DB54F;
}

.button-in-favorites:hover {
  background-color: #6C9E42;
}

.button-in-favorites:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #7DB54F;
}

.house-card-button-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.star-container {
  display: flex;
  justify-content: start;
  gap: 6px;
}

.star {
  width: 18px;
  height: 36px;
  margin: 0;
  background-image: url(../images/icons/icon-star.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.house-card-rating {
  margin: 0;
  padding: 8px 22px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #F2F2F2;
  border-radius: 4px;
}

.house-card-rating-container {
  display: flex;
  justify-content: space-between;
}

/*pagination*/

.pagination {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination-item {
  display: flex;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  background-color: #82B3D3;
  border-radius: 4px;
}

.pagination-item:not(.pagination-item-more-pages,.pagination-item-current):hover {
  background-color: #68A2CA;
}

.pagination-item:not(.pagination-item-more-pages,.pagination-item-current):active {
  background-color: #82B3D3;
}

.pagination-item-current {
  background-color: #F2F2F2;
}

.pagination-link {
  padding: 12.5px 25px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
  color: #ffffff;
}

.pagination-link:active {
 color: rgba(255, 255, 255, 0.3);
}

.pagination-link-disabled {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-decoration: none;
  color: #000000;
}

.pagination-item-more-pages {
  background-color: #ffffff;
}

.pagination-link-more-pages {
  padding: 16px 20px;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #000000;
  text-decoration: none;
}
